<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../resources/styles/contact.css">
</head>
<body>
    <div class="container">
        <div class="wrapper">
     <h2>Get in touch</h2>
   
   <form action="submit" class="form">
    <textarea  name="message" id="message" cols="30" rows="9" placeholder="Enter Message" s></textarea>
       <input type="text" name="name" id="name" placeholder="Enter your Name">
       <input type="email" name="email" id="email" placeholder="Enter Email Address">
       <input type="text" name="subject" id="subject" placeholder="Enter Subject">
       <div class="button">
      <h3>Send Message</h3> 
    </div>
   </form>


    <div class="extra-info">
          <div class="item">
          <img src="../resources/images/icons8_home_filled_500px_1.png" alt="">
          <div class="text">
        <h3> Buttonwood, California.</h3>
         <p> Rosemead, CA 91770</p>
        </div>
          </div>
          <div class="item">
            <img src="../resources/images/icons8_cell_phone_512px.png" alt="">
            <div class="text">
            <h3> 00 (440) 9865 562</h3>
               <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="item">
            <img src="../resources/images/icons8_message_filled_500px.png" alt="">
            <div class="text">
            <h3>support@colorlib.com</h3>
            <p>Send us your query anytime!</p>
        </div>
          </div>

    </div>
</div>

    </div>

</body>
</html>