*{
    margin: 0px;
    padding: 0px;


}

.testmoinals{
    padding: 40px;
    background: #f1f1f1;
    color: #434343;
    text-align: center;

}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto ;
}
.row{
    display: flex;
    

    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;

}
.testmoinal{
    background: #fff;
    padding: 30px;
}
.testmoinal img{
    width: 100px;
    height: 100px;
    border-radius: 50px;

}
p{
    text-justify: distribute-all-lines;
}



.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}